<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Landing Page - Start Bootstrap Theme</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/resources/assets/favicon.ico}"/>

  <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

  <title>PetClinic :: a Spring Framework demonstration</title>
  <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/css/styles.css}" />
  <script th:src="@{/resources/js/scripts.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.2.3/dist/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li th:fragment="menuItem (link,active,title,glyph,text)" th:class="${active==menu ? 'nav-item active' : 'nav-item'}">
          <a th:class="'nav-link'" th:href="@{__${link}__}" th:title="${title}">
            <span th:class="'fa fa-'+${glyph}" aria-hidden="true"></span>
            <span th:text="${text}">Template</span>
          </a>
        </li>

      </ul>

      <ul class="nav navbar-nav me-auto">

        <li th:replace="~{::menuItem ('/','home','home page','home','Home')}">
          Home
        </li>

        <li th:replace="~{::menuItem ('/users/find','users','find questions','search','Find questions')}">
          Find users
        </li>

        <li th:replace="~{::menuItem ('/users','questions','find questions','users','All questions')}">
          Find users
        </li>

        <li
          th:replace="~{::menuItem ('/oups','error','trigger a RuntimeException to see how it is handled','exclamation-triangle','Error')}">
          Error
        </li>

      </ul>
    </div>
  </div>
</nav>


<div class="">
  <th:block th:insert="${template}" />
  <!-- Icons Grid-->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <h3>Why searching "questions" doesn't work properly</h3>
            <p class="lead mb-0">It's really bad implementation that searches for exact string in questions, just try with "How" for example</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class=" mx-auto mb-5 mb-lg-0 mb-lg-3">
            <h3>What does error mean</h3>
            <p class="lead mb-0">This is page that creates error for testing purposes</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mx-auto mb-0 mb-lg-3">
            <h3>Why it reassembles Spring petclinic so much?</h3>
            <p class="lead mb-0">idk</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  text-center text-lg-start my-auto">

          <p class="text-muted small mb-4 mb-lg-0">Marcin Grabowski and Tymoteusz Gajda 2023</p>
        </div>
      </div>
    </div>
  </footer>
</div>

</body>

</html>

