<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'users')}">
<body>
<div  class="container-fluid">
  <div class="container xd-container">
    <h2>User</h2>
    <form th:object="${user}" class="form-horizontal" id="add-user-form" method="post">
      <div class="form-group has-feedback">
        <input
          th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
        <input
          th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
        <input
          th:replace="~{fragments/inputField :: input ('Address', 'email', 'text')}" />
        <input
          th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button
            th:with="text=${user['new']} ? 'Add User' : 'Update User'"
            class="btn btn-primary" type="submit" th:text="${text}">Add
            User</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
