<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
<body>
<div class="container-fluid vh-100">
  <div class="container xd-container">
    <h2>Something happened...</h2>
    <p th:text="${message}">Exception message</p>
    <br>
    <!-- Use a div with flexbox and justify-content-center to center the animation -->
    <div class="d-flex justify-content-center align-middle align-content-center">
      <div > (╯°□°）╯︵ ┻━┻ </div>
    </div>
  </div>
</div>
</body>
</html>

