<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
<script type="text/javascript">
  var alerted = localStorage.getItem('alerted') || '';
  if (alerted != 'yes') {
    alert("This website uses CDNs to load Bootstrap. If you don't have an internet connection, the website will not load properly.");
    localStorage.setItem('alerted','yes');
  }
</script>
<!-- Masthead-->
<section class="call-to-action text-white text-center" id="signup">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <h2 class="mb-4">Try the only QnA website that let's you find out who asked!</h2>
      </div>
    </div>
  </div>
</section>
<!-- Icons Grid-->
</body>
</html>
